
body{
font-family:Franklin Gothic Demi;
background:#f4f4f4;
margin:0;
}

header{
background:#222;
color:white;
padding:15px;
}

nav button{
margin:5px;
padding:8px;
}

.pagina{
padding:20px;
display:none;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid #ddd;
padding:8px;
}

.kanban{
display:flex;
gap:20px;
}

.coluna{
background:white;
padding:10px;
width:200px;
min-height:300px;
}

.card{
background:#3498db;
color:white;
padding:8px;
margin:5px 0;
cursor:move;
}
